.recruiterstat-container{
    border:1px solid $hr_white2;
    background-color: $hr_white2;
    margin-left: 26px;
    margin-right: 26px;
    padding: 20px;
    border-radius: 25px;
    height: 220px;
    width: 100%;
    box-shadow: 0 0 7px -3px #444444;
}