.header{
    padding:24px 16px;
    display: flex;
    justify-content: space-between;
    h1{
        margin-left: 16px;
    }
    .action-container{
        display: flex;
        align-items: center;
        .action-icon{
            margin-left: 10px;
            cursor: pointer;
        } 
    }
    .profile-container{
        display: flex;
        align-items: center;
    }
}